[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "JLPM"]
	path = JLPM
	url = https://github.com/vivianephilipps/jlpm
	shallow = true
	registered = true
[submodule "weightQuant"]
	path = weightQuant
	url = https://github.com/vivianephilipps/weightquant
	shallow = true
	registered = true
